<html>
    <head>
        <title>FIDO2 Proxy Authenticator</title>
    </head>
    <body style="text-align: center; padding-top: 40px; padding-bottom: 40px; background-color: black; color: whitesmoke; font-family: sans-serif;">
        <span style="font-size: larger; font-family: sans-serif;">{{ error_message }}</span><br/>
        <a href="login?back={{ back_url | urlencode }}">Try Again</a><br/>
    </body>
</html>