<html>
    <head>
        <title>FIDO2 Proxy Authenticator</title>
        <script>
            function barraytoa(arrayBuffer) {
                return btoa(String.fromCharCode(...new Uint8Array(arrayBuffer)));
            }

            const challenge = {{ challenge_json }};

            async function register_key()
            {
                try
                {
                    const username = document.getElementById('username').value

                    challenge.publicKey.challenge = new Uint8Array(challenge.publicKey.challenge)
                    challenge.publicKey.user.id = new Uint8Array(challenge.publicKey.user.id)

                    let cred = await navigator.credentials.create(challenge);

                    document.getElementById('result').innerHTML = 'On your server, to save this key please run:<br /><pre>sudo fido_save_creds ' + username + ' ' + barraytoa(cred.response.clientDataJSON) + ' ' + barraytoa(cred.response.attestationObject) + '</pre>'
                } catch (e) {
                    document.getElementById('result').innerHTML = e;
                }
            }

            window.onload = function(){
                register_key();
            }
        </script>
    </head>
    <body style="text-align: center; padding-top: 40px; padding-bottom: 40px; background-color: black; color: whitesmoke; font-family: sans-serif;">
        <span style="font-size: larger; font-family: sans-serif;">Registering Key...</span><br/>
        <br/>
        <input type="hidden" name="username" id="username" value="{{ username }}"/>
        <br/>
        <a href="register">Register</a><br/>
        <br/>
        <div id="result"></div><br/>
    </body>
</html>