<html>
    <head>
        <title>FIDO2 Proxy Authenticator</title>
    </head>
    <body style="text-align: center; padding-top: 40px; padding-bottom: 40px; background-color: black; color: whitesmoke; font-family: sans-serif;">
        <span style="font-size: larger; font-family: sans-serif;">Register Key</span><br/>
        <br/>
        <form method="post" action="registration">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"/><br/>
            <input type="submit" id="submit" name="submit" value="Begin Registration"/><br/>
        </form>
        <br/>
        <a href="login">Login</a><br/>
        <br/>
        <div id="result"></div>
    </body>
</html>